<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<style type="text/css">
.form {
	margin-top:20px;
}
</style>
</head>
<body>
  <img alt="图片" src="{{static_url('tornado.png')}}" ></img>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
{% for entry in entries %}
  <tr>
    <td>{{ entry.id}}</td>
    <td>{{ entry.name}}</td>
    <td>{{ entry.pid}}</td>
    <td>{{ entry.status}}</td>
    <td>{{ entry.paixu}}</td>
  </tr>
{% end %}
</table>

<div class="form">
<form id="form1" name="form1" method="post" action="">
  <input type="text" name="bookname" id="bookname" />
  <input type="submit" name="button" id="button" value="提交" />
</form>
</div>
</body>
</html>
